<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Mettware</title>
        <component name="mettware-plugin-detail">
            <name>orderButton</name>
            <label>Free Orders</label>
        </component>
        <input-field>
            <name>pigContent</name>
            <label>Pig Weight</label>
        </input-field>
    </card>
</config>
