<div>
    <sw-button-process
        :isLoading="isLoading"
        :processSuccess="isResetSuccessful"
        @process-finish="resetFinish"
        @click="onOpenOrders"
    >{{ label }}</sw-button-process>
</div>
