<sw-page class="mettware-plugin-details">
    <template #content>
        <sw-card>
            <div v-if="ok != null">
                <template v-if="ok">{{ $tc('mettware-plugin.detail.ordersOpened') }}</template>
                <template v-else>{{ $tc('mettware-plugin.detail.error') }}</template>
            </div>
            <sw-button variant="primary"
                       @click.prevent="onOpenOrders">
                {{ $tc('mettware-plugin.detail.openOrders') }}
            </sw-button>
        </sw-card>
    </template>
</sw-page>
