{% block mettware_cms_element_order_overview_preview %}
    <div class="mettware-cms-el-preview-order-overview">
        <img class="mettware-cms-el-preview-order-overview-img"
             :src="'mettware/static/img/cms/order_overview_preview.png' | asset">
    </div>
{% endblock %}
