{% block mettware_cms_element_order_overview %}
    <div class="mettware-cms-el-order-overview">
        <table>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ $tc('mettware-plugin.cms.statistics.list.customerNumber') }}</th>
                <th scope="col">{{ $tc('mettware-plugin.cms.statistics.list.name') }}</th>
                <th scope="col">{{ $tc('mettware-plugin.cms.statistics.list.count') }}</th>
                <th scope="col">{{ $tc('mettware-plugin.cms.statistics.list.meat') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <th scope="row">42</th>
                <td>Sebastian Hölscher</td>
                <td>4</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <th scope="row">2</th>
                <td>Max Mustermann</td>
                <td>3</td>
                <td>200</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <th scope="row">37</th>
                <td>Albert Einstein</td>
                <td>1</td>
                <td>80</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
